* {
border: none;
border-radius: 10;
font-family: "Iosevka Nerd Font" ;
font-size: 15px;
min-height: 10px;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
margin-top: 6px;
padding-left: 10px;
padding-right: 10px;
border-radius: 10px;
transition: none;
color: transparent;
background: transparent;
}
#workspaces {
margin-top: 6px;
margin-left: 12px;
font-size: 4px;
margin-bottom: 0px;
border-radius: 10px;
background: transparent;
transition: none;
}

#workspaces button {
transition: none;
color: #FFDEB0;
background: transparent;
font-size: 16px;
border-radius: 1.5px;
}

#workspaces button.occupied {
transition: none;
color: #F28FAD;
background: transparent;
font-size: 4px;
}

#workspaces button.focused {
color: #ABE9B3;
border-top: 2px solid #ABE9B3;
border-bottom: 2px solid #ABE9B3;
}

#workspaces button:hover {
transition: none;
box-shadow: inherit;
text-shadow: inherit;
color: #FAE3B0;
border-color: #E8A2AF;
color: #E8A2AF;
}

#workspaces button.focused:hover {
color: #E8A2AF;
}

#network {
margin-top: 6px;
margin-left: 8px;
padding-left: 10px;
padding-right: 4px;
margin-bottom: 0px;
border-radius: 50px;
transition: none;
color: #FFDEB0;
background: #000000;
border: 1.5px solid #FFDEB0;
}

#pulseaudio {
margin-top: 6px;
margin-left: 8px;
padding-left: 10px;
padding-right: 10px;
margin-bottom: 0px;
border-radius: 50px;
transition: none;
color: #FFDEB0;
background: #000000;
border:1.5px solid #FFDEB0;
}

#battery {
margin-top: 6px;
margin-left: 8px;
padding-left: 10px;
padding-right: 10px;
margin-bottom: 0px;
border-radius: 50px;
transition: none;
color: #FFDEB0;
background: #000000;
border: 1.5px solid #FFDEB0;
}

#battery.charging, #battery.plugged {
color: #FFDEB0;
background-color: #000000;
}

#battery.critical:not(.charging) {
background-color: #000000;
color: #FFDEB0;
animation-name: blink;
animation-duration: 0.5s;
animation-timing-function: linear;
animation-iteration-count: infinite;
animation-direction: alternate;
}

@keyframes blink {
	to {
		background-color: #BF616A;
		color: #B5E8E0;
	}
}

#backlight {
margin-top: 6px;
margin-left: 8px;
padding-left: 10px;
padding-right: 10px;
margin-bottom: 0px;
border-radius: 50px;
transition: none;
color: #FFDEB0;
background: #000000;
border: 1.5px solid #FFDEB0;
}
#clock {
margin-top: 6px;
margin-left: 8px;
padding-left: 10px;
padding-right: 10px;
margin-bottom: 0px;
border-radius: 50px;
transition: none;
color: #FFDEB0;
background: #000000;
/*background: #1A1826;*/
border: 1.5px solid #FFDEB0;
}

#memory {
margin-top: 6px;
margin-left: 8px;
padding-left: 10px;
margin-bottom: 0px;
padding-right: 10px;
border-radius: 50px;
transition: none;
color: #FFDEB0;
background: #000000;
border: 1.5px solid #FFDEB0;
}
#cpu {
margin-top: 6px;
margin-left: 8px;
padding-left: 10px;
margin-bottom: 0px;
padding-right: 10px;
border-radius: 50px;
transition: none;
color: #FFDEB0;
background: #000000;
border: 1.5px solid #FFDEB0;
}

#tray {
margin-top: 6px;
margin-left: 8px;
padding-left: 10px;
margin-bottom: 0px;
padding-right: 10px;
border-radius: 10px;
transition: none;
color: #FFDEB0;
background: transparent;
border: 1.5px solid #FFDEB0;
}
#custom-launcher {
font-size: 24px;
margin-top: 6px;
margin-left: 8px;
padding-left: 7px;
padding-right: 5px;
border-radius: 50%;  /* Set to 50% to make it perfectly round */
transition: none;
color: #FFDEB0;
background: #000000;
border: 1.5px solid #FFDEB0;
}

#custom-power {
font-size: 20px;
margin-top: 6px;
margin-left: 8px;
margin-right: 8px;
padding-left: 7px;
padding-right: 5px;
margin-bottom: 0px;
border-radius: 50px;
transition: none;
color: #FFDEB0;
background: #000000;
border: 1.5px solid #FFDEB0;
}

#custom-wallpaper {
margin-top: 6px;
margin-left: 8px;
padding-left: 10px;
padding-right: 10px;
margin-bottom: 0px;
border-radius: 10px;
transition: none;
color: #161320;
background: #C9CBFF;
}

#custom-updates {
margin-top: 6px;
margin-left: 8px;
padding-left: 10px;
padding-right: 10px;
margin-bottom: 0px;
border-radius: 10px;
transition: none;
color: #161320;
background: #E8A2AF;
}

#custom-media {
margin-top: 6px;
margin-left: 8px;
padding-left: 10px;
padding-right: 10px;
margin-bottom: 0px;
border-radius: 10px;
transition: none;
color: #161320;
background: #F2CDCD;
}
